<% include header.ejs %>
        <span class="navbar-brand mb-0 h1" ><a href="/tournois">Liste des tournois</a></span>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-player-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="number" class="form-control" name="tour" id="tour" placeholder="Nombre de tours" min='1' max='99' required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Ajouter un Tournoi</button>
        </form>
    </div>
</div>
</body>
</html>
