<% include header.ejs %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
      <form class="add-player-form" action="" method="post" enctype="multipart/form-data">

          <div class="form-row">
            <div class="form-group col-md-3 offset-md-3">
              <label for="nb_tours">Nombres de tours : </label>
            </div>
            <div class="form-group col-md-1">
              <input id="nb_tours" type="number" class="form-control" placeholder="0" name="tour" id="tour" min='1' max='99' required>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-3 offset-md-3">
              <label for="nb_tables">Nombres de tables : </label>
            </div>
            <div class="form-group col-md-1">
              <input id="nb_tables" type="number" class="form-control" placeholder="0" name="table" id="table" min='1' max='20' required>
            </div>
          </div>

          <br><br>

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th class="align-middle" scope="col">TABLE N°</th>
                <th scope="col">NORD<br><small>Nom et Prénom</small></th>
                <th scope="col">SUD<br><small>Nom et Prénom</small></th>
                <th scope="col">EST<br><small>Nom et Prénom</small></th>
                <th scope="col">OUEST<br><small>Nom et Prénom</small></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <div class="text-center">
            <button type="submit" class="btn btn-primary text-center">Ajouter un Tournoi</button>
          </div>

      </form>
    </div>
</div>

<!-- Add Table dependend of INT value -->
<script type="text/javascript">
  $(document).ready(function ()
  {
    var nb_tables_object = document.getElementById('nb_tables');

    //Event Listener
    nb_tables_object.addEventListener("change", function() {

      $("form table tbody").empty();

      var nb_tables_value = $("#nb_tables").val();

      for (var i = 1; i <= nb_tables_value; i++)
      {
        var tr = '<tr><th scope="row">'+i+'</th><td><input name="nord" type="text"></td><td><input name="sud" type="text"></td><td><input name="est" type="text"></td><td><input name="ouest" type="text"></td></tr>';
        $("form table tbody").append(tr);
      }

    });

  });
</script>

</body>
</html>
