<% include header.ejs %>
    

    <h1 class="text-center">Bienvenu sur notre Tournoi de Tarot !</h1>

    <a href="/tournois" class="btn btn-lg btn-secondary">Accéder aux précédents Tournois</a>
    <a href="/add-tournoi" class="btn btn-lg btn-primary">Créer un nouveau Tournoi</a>

</div> 
</body>
</html>